body {
    overflow: hidden;
}

body > .container-fluid {
    padding: 0;
}

.login form {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    height: 100px;
    width: 700px;
    left: 50%;
    margin-left: -350px;
}

.login form input {
    font-size: 32px;
    line-height: 32px;
    height: 64px;
}

#chat {
    overflow-y:auto;
    height:15rem;
}
.progress-bar-happiness {
    background:#31B19D;
}
.progress-bar-energy {
    background:#469DC7;
}

#player-name {
    cursor: pointer;
}

.health .badge {
    min-width: 35px;
    background-color: #1FC772;
}

.crafting .btn-primary {
    background-color: #DA561B;
    border-color: #DA561B;
}
.actions .btn-primary {
    background-color: #199CDA;
    border-color: #199CDA;
}
