body {
    overflow-x:hidden;
    background:url(/img/sky-min.jpg) no-repeat 50% 50%; background-size:content;
}
body > .container-fluid {
    padding: 0;
}

.login form {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    height: 100px;
    width: 700px;
    left: 50%;
    margin-left: -350px;
}

.login form input {
    font-size: 32px;
    line-height: 32px;
    height: 64px;
}

.chat-messages {
    overflow-y:auto;
    height:15rem;
}

.progress-bar-happiness {
    background:#31B19D;
}
.progress-bar-energy {
    background:#469DC7;
}

#player-name {
    cursor: pointer;
}

.badge {
    min-width: 35px;
    background-color: #31B19D;
    transition:background 1s ease;
}
.badge.odometer-animating-up {background-color:#1FC772;}
.health .jumbotron {
    padding: 15px;
}
.health .edit {
    float: right;
}

.join-tribe {
    margin-left: 20px;
}

#actions-container .crafting .panel-body .btn-primary {
    background-color: #DA561B;
    border-color: #DA561B;
}
#actions-container .actions .panel-body .btn-primary {
    background-color: #199CDA;
    border-color: #199CDA;
}

.login {
    font-size:2.5rem;
    
}
.login #login {
    font-size: 3rem;
}

#vote-success {
    margin: 0 15px 15px;
}

.button-wrapper {
    float: left;
    margin-right: 4px;
}

div.clear {
    clear: both;
    margin-bottom: 5px;
}
