#choose-tribe a {
    cursor: pointer;
}

#tribe-list .join-tribe {
    cursor: pointer;
}

#member-list .chief {
    font-weight: bold;
    color: #cc0000;
}
#member-list .subchief {
    font-weight: 400;
    color: #C09853;
}

#member-list .promote-member, #member-list .deprive-member {
    cursor: pointer;
}
